.env
/app/__pycache__
/app/api/__pycache__
/app/api/v1/__pycache__
/app/core/__pycache__
/app/db/__pycache__
/app/models/__pycache__
/app/repositories/__pycache__
/app/schemas/__pycache__
/app/scripts/__pycache__
/app/services/__pycache__
/app/utils/__pycache__
/app/helpers/__pycache__
/app/reports/__pycache__
/app/reports/attendance/__pycache__
/app/reports/a_course_structure/__pycache__
app/reports/a_course_structure/__init__.py
app/reports/attendance/student/__init__.py
/app/reports/attendance/student/__pycache__
app/reports/attendance/teacher/__init__.py
/app/reports/attendance/teacher/__pycache__
/app/reports/b_students_files/__pycache__
/app/reports/c_attendance/teacher/__pycache__
app/reports/c_attendance/teacher/__init__.py
/app/reports/c_attendance/student/__pycache__
/app/reports/c_attendance/__pycache__
app/reports/c_attendance/__init__.py
app/reports/c_attendance/student/__init__.py
app/reports/attendance/__init__.py
app/reports/attendance/__init__.py
app/reports/attendance/__init__.py
/app/reports/c_student_attendance/__pycache__
app/reports/c_student_attendance/__init__.py
/app/reports/d_practice_lesson/__pycache__
/app/reports/teacher/__pycache__
app/reports/teacher/__init__.py
